@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}
body {
    font-family: "Roboto", sans-serif;
    font-style: normal;
}
a {
    text-decoration: none;
    color: black;
}
li {
    list-style: none;
}
.container {
    width: 1440px;
    max-width: 1440px;

    margin: 0 auto;
    height: 100%;
    padding: 0 20px;
}
.top-bar {
    position: relative;
    height: 40px;
    min-width: 100%;
    background-color: #253237;
    display: flex;
    .dropdown {
        width: 120px;
        height: 0;
        overflow: hidden;
        position: absolute;
        -webkit-box-shadow: 0px 1px 1px 0px rgba(184, 184, 184, 1);
        -moz-box-shadow: 0px 1px 1px 0px rgba(184, 184, 184, 1);
        box-shadow: 0px 1px 1px 0px rgba(184, 184, 184, 1);
        margin-top: 40px;
        right: 10px;
        //margin-right: 48px;
        transition-property: height;
        transition-duration: 1s;
        display: flex;
        flex-direction: column;
        background-color: white;
        z-index: 10;
        .dropdown__actions {
            margin-left: 5px;
            margin-right: 5px;
            border-bottom: 1px solid lightgray;
            padding: 13px 10px;
            color: black;
            transition: 0.8s;
            &:last-child {
                border-bottom: none;
            }
            &:hover {
                color: rgb(187, 164, 36);
            }
        }
    }

    .toggle {
        height: 140px;
    }
    .top-bar__nav {
        //position: absolute;
        height: 100%;

        display: flex;
        align-items: center;
        .welcome {
            color: white;
            width: 300px;
        }
        .nav__links {
            display: flex;
            justify-content: flex-end;

            width: 100%;
            position: relative;
            .top-bar__btn-a {
                padding: 0 30px 0 30px;
                border-right: 1px solid blue;
                color: white;
                display: flex;
                align-items: center;
                gap: 5px;
                transition: 0.8s;
                &:nth-child(2) {
                    border-right: none;
                    padding-right: 0;
                }
                &:hover {
                    color: #c0b07d;
                    .fa-heart {
                        color: #c0b07d;
                    }
                    .fa-chevron-down {
                        color: #c0b07d;
                    }
                }
                i {
                    color: white;
                    font-size: 13px;
                    margin-right: 10px;
                    transition: 0.8s;
                }
            }
            .top-bar__btn {
                background: none;

                font-size: 18px;
                display: flex;
                cursor: pointer;
                gap: 10px;
                .fa-chevron-down {
                    font-size: 10px;
                    margin-top: 3px;
                }
            }
        }
    }
}

/* /// top-bar__header-top \\\ */
.header-top {
    position: relative;
    display: flex;
    padding: 0 20px;
    border-bottom: 1px solid rgb(231, 231, 231);
    .header-top__content {
        display: flex;
        padding: 32px 0;
        align-items: center;
        justify-content: space-between;
        position: relative;
        .contact {
            display: flex;
            align-items: center;
            //background-color: green;
            justify-content: flex-end;
            gap: 30px;
            list-style: none;
            width: 350px;
            li {
                display: flex;
                align-items: center;
                gap: 10px;
                .fa {
                    font-size: 30px;
                }
                .cart-amount {
                    font-weight: 700;
                }
                .cart {
                    display: flex;
                    align-items: center;
                    gap: 10px;
                    color: black;
                    transition: 0.8s;
                    position: relative;
                    &:hover {
                        color: #c0b07d;
                    }
                    &::after {
                        content: "0";
                        text-align: center;
                        font-size: 15px;
                        font-weight: 700;
                        color: white;
                        background-color: #c0b07d;
                        height: 20px;
                        width: 20px;
                        position: absolute;
                        left: 15px;
                        top: 15px;
                        border-radius: 50%;
                    }
                }
            }
            .call-us {
                display: flex;
                flex-direction: column;
                .phone {
                    font-weight: 700;
                    color: black;
                    transition: 0.8s;
                    &:hover {
                        color: #c0b07d;
                    }
                }
            }
        }
        .search {
            //width: 540px;
            //background-color: red;
            height: 45px;
            //left: -80px;
            display: flex;

            position: absolute;
            left: 240px;
            .search__cat_container {
                position: absolute;
                display: flex;
                align-items: center;
                right: 80px;
                height: 100%;
                .search_categories {
                    background-color: transparent;
                    border: none;
                    height: 96%;
                    -moz-appearance: none;
                    -webkit-appearance: none;
                    width: 90px;
                }
                i {
                    font-size: 10px;
                    margin-top: 3px;
                }
            }

            .searchTerm {
                height: 100%;
                width: 475px;
                //background-color: green;
                border-radius: 25px 0 0 25px;
                border: 2px solid #c0b07d;
                padding: 9px 35% 10px 22px;
            }
            .searchButton {
                height: 100%;
                width: 65px;
                background-color: #c0b07d;
                border-radius: 0 25px 25px 0;
                padding: 13px 20px;
                transition: 0.6s;
                .fa {
                    color: white;
                    font-size: 20px;
                }
                &:hover {
                    background-color: #253237;
                }
            }
        }
    }
}

/* /// MAIN MENU \\\ */
.main-menu {
    display: flex;
    .menu {
        display: flex;
        height: 62px;
        align-items: center;
        gap: 35px;
        //background-color: red;
        .active {
            border-bottom: 3px solid #c0b07d;
            color: #c0b07d;
        }
        .menu__links {
            font-weight: 700;
            //display: flex;
            transition: color 0.5s ease;
            padding-bottom: 5px;
            .fa-chevron-down {
                margin-top: 5px;
                margin-left: 5px;
                font-size: 13px;
            }
            &:hover {
                border-bottom: 3px solid #c0b07d;
                color: #c0b07d;
            }
        }

        .menu__beauty {
            //background-color: red;
            position: relative;
        }
        .on_hover {
            border-bottom: 3px solid #c0b07d;
            color: #c0b07d;
        }
    }

    .main-menu__dropdown {
        //padding: 25px;
        background-color: white;
        overflow: hidden;
        opacity: 1;
        height: 410px;
        z-index: 10;
        position: absolute;
        left: 15px;
        top: 28px;
        -webkit-box-shadow: 0px 0px 1px 0px rgba(184, 184, 184, 1);
        -moz-box-shadow: 0px 0px 1px 0px rgba(184, 184, 184, 1);
        box-shadow: 0px 0px 1px 0px rgba(184, 184, 184, 1);
        display: inline-block;
        transition-property: height;
        transition-duration: 1s;

        .dropdown__content {
            display: flex;
            margin: 25px;
            gap: 100px;
            ul {
                display: flex;
                flex-direction: column;
                gap: 10px;
                .dropdown__list-head {
                    margin-bottom: 25px;
                    .list_head {
                        font-weight: 700;
                        transition: all 0.5s ease;
                        &:hover {
                            color: #c0b07d;
                        }
                    }
                }
                a {
                    transition: 0.5s ease;
                }
                .dropdown__list-links {
                    font-weight: 400;
                    transition: all 0.5s ease;
                    &:hover {
                        transform: translateX(12px);
                        a {
                            color: #c0b07d;
                        }
                    }
                }
            }
        }
        .dropdown__banner {
            margin: 25px;
        }
    }
    .dropdown__show {
        opacity: 1;
        height: 410px;
    }
    .dropdown__hide {
        opacity: 0;
        height: 0;
    }
}

/* /// CAROUSEL \\\ */
.carousel {
    display: flex;
    background-color: white;
    position: relative;
    overflow: hidden;

    .carousel__content {
        height: 100%;
        display: flex;
        //flex-direction: column;
        min-width: 100%;
        //position: relative;

        .slide {
            position: relative;
            /* top: 0;
            left: 0; */
            opacity: 0;
            height: auto;
            transition: opacity 1s ease-out;
            min-width: 100%;
            img {
                width: 100%;
                height: auto;
            }
            .description-container {
                //height: 300px;
                //background-color: red;
                z-index: 5;
                position: absolute;
                top: 50%;
                transform: translateY(-50%);

                width: 100%;
                .description {
                    display: flex;
                    flex-direction: column;
                    padding: 0 20px;
                    position: relative;
                    //top: 50%;
                    //left: 55px;
                    z-index: 3;
                    //transform: translateY(-50%);
                    .slide__medium-title {
                        font-style: italic;
                        font-size: 20px;
                        margin-bottom: 15px;
                        color: #253237;
                    }
                    .slide__big-title1 {
                        color: #253237;
                        letter-spacing: 1px;
                    }
                    .slide__big-title2 {
                        color: #253237;
                        letter-spacing: 1px;
                    }
                    .slide__btn {
                        padding: 8px 0;
                        border-radius: 50px;
                        font-size: 12px;
                        color: white;
                        background-color: #253237;
                        transition: 0.5s;
                        text-align: center;
                        width: 110px;
                        display: block;
                        margin-top: 40px;
                        &:hover {
                            background: #c0b07d;
                        }
                    }
                    /* /// SLIDE 2 \\\ */
                    .slide__medium-title_2 {
                        font-style: italic;
                        font-size: 20px;
                        margin-bottom: 15px;
                        color: #253237;
                    }
                    .slide__big-title1_2 {
                        color: #253237;
                        letter-spacing: 1px;
                        &:hover {
                            color: blue;
                        }
                    }
                    .slide__big-title2_2 {
                        color: #253237;
                        letter-spacing: 1px;
                    }
                    .slide__btn_2 {
                        padding: 8px 0;
                        border-radius: 50px;
                        font-size: 12px;
                        color: white;
                        background-color: #253237;
                        transition: 0.5s;
                        text-align: center;
                        width: 110px;
                        //display: block;
                        margin-top: 40px;
                        &:hover {
                            background: #c0b07d;
                        }
                    }
                }
            }
        }

        .current {
            opacity: 1;
            position: absolute;
            /* top: 0;
            left: 0; */
            min-width: 100%;
        }
    }

    .carousel-nav {
        height: 16px;
        position: absolute;
        position: absolute;

        bottom: 40px;
        left: 50%;
        transform: translateX(-50%);
        display: flex;
        z-index: 10;
        gap: 10px;
        li {
            width: 16px;
            height: 16px;
            background: white;
            border-radius: 50%;
            cursor: pointer;
            //border: 1.6px solid white;
            &:hover {
                cursor: pointer;
            }
        }
        .selected-track {
            background: #c0b07d;
        }
    }
}
/* /// MAIN \\\ */
.main {
    display: flex;
    //align-items: center;
    margin-top: 60px;
    position: relative;
    .banner__content {
        display: flex;
        //justify-content: space-evenly;

        // background-color: red;
        gap: 25px;

        .row {
            display: flex;
            flex-direction: column;

            gap: 25px;
            .item {
                overflow: hidden;
                a {
                    display: flex;
                }
            }
            .item__img {
                max-width: 100%;
                transition: 0.5s ease;
                //overflow:hidden;
                height: 100%;
                width: 100%;
                object-fit: cover;
                &:hover {
                    transform: scale(1.05);
                    height: 100%;
                }
            }

            .row__right-top-item {
                display: flex; //gap: 40px;
                //justify-content: space-between;
                gap: 25px;
            }
        }
    }
}
/* // BEST SELLERS \\ */
